<%- include('partials/header') %>
<link rel="stylesheet" href="home.css">
</head>
<body>

    <div class="container-fluid ">
      <h2>
        <div class="name">Hello <%=name%> :)</div>
      </h2>
        <form action="/logout" method="get">
            <button class="btn btn-dark logout">logout</button>
        </form>     
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-6 m-auto">
            <h1 class="text-center display-4 my-4">Upload File</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data">
              
                <div class="form-group">
                  <input type="file" class="form-control-file" name="file" id="file" >
                </div>
      
              
              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </form>
            <hr>
            <% if(files){ %>
              <% files.forEach(function(file) { %>
                <div class="card card-body mb-3">
                  <% if(file.isImage) { %>
                    <img src="image/<%= file.filename %>" alt="">
                    <% } else { %>
                      <a href = "/files/<%= file.filename %>" target = "_blank"><%= file.filename %></a>
                        <% } %>
                        <form method="POST" action="/download/<%= file._id %>">
                            <button class="btn btn-success col-3 btn-block mt-4 ">Download</button>
                        </form>
                        <form method="GET" action="/generatelink/<%= file._id %>?_method=DELETE">
                            <button class="btn btn-info btn-block mt-4">Generate sharable link</button>
                            
                        </form>
                        <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                            <button class="btn btn-danger btn-block mt-4">Delete</button>
                        </form>
                </div>
                <% }) %>
                  <% } else { %>
                    <p>No files to show</p>
                    <% } %>
          </div>
        </div>
      </div>
    
    
 
</div>
